body {
  max-width: 1000px;
  padding: 1em;
  font-family: 'Sanchez', serif;
  color:grey;

}

div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
  color:grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  display: inline;
}

li {
  display: inline;
}

a {
  text-decoration:none;
  font-family: 'Sanchez', serif;
  font-style:italic;
  color: rgb(208,104,135);
