

header{
     padding:.8em 0em .8em 0em;
     text-align: center;
   }



.logo {
  width:90px;
  font-family: 'Droid Serif', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin:auto;
  padding-bottom:1em;
}

h1 {
  color:white;
  font-family: 'Droid Serif', serif;

  margin-top: 1em;
    letter-spacing: 2px;

}

h2 {
  color:; rgb(135,135,135);
  text-transform:uppercase;
  font-family: 'Droid Serif', serif;
  font-size:1.4em;
  border-bottom-style: dotted;
  padding-bottom:1em;
      letter-spacing: 1px;

}

h4
{
color:rgb(208,134,135)

}




p {
  color:rgb(135,135,135);
  font-family: 'Sanchez', serif;
  letter-spacing: 1px;
  line-height: 1.6em;


}


blockquote {
  color:white;
  font-family: 'Sanchez', serif;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-size:.7em;
  margin:0;


}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  text-decoration: none;
}

nav {

	font-family: 'Sanchez', serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;

}


nav a {
	text-decoration: none;
	color: rgb(35,95,97);
	letter-spacing: 2px;
	font-size: 1em;
	font-family: 'Sanchez', serif;
	text-transform: uppercase;

  transition: all .2s ease;
transition-property: all;
transition-duration: 0.2s;
transition-timing-function: ease;
transition-delay: initial;

}

nav ul li {
  	text-align: center;
    font-size: .8em;
  	width:40%;
  	padding-top: .25em;
  	margin-bottom: .5em;
    margin-top:.35em;
  	line-height: 1;
    padding-left: 1em;
    padding-right:1em;
    	display: flex;


  }


/* Navigation */

body {
  max-width: 100%;
    font-family: 'Sanchez', serif;
    margin:0;
    min-width: 250px;

   }

/* Index Hero */

.hero-image {
    height: 60vh;
    background-image: url("../images/daycare-D1-stock1-1913.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image p {
  font-family: 'Sanchez', serif;
}





.hero-image__container {
    display: flex;
  align-items: center;
  justify-content: center;
    height: 100%;
}

.hero-image__text h1{
    z-index: 100;
    padding-top: 2em;
    color: white;
    font-family: 'Droid Serif', serif;
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    margin: 0 auto;

}

.hero-image__text p{
    z-index: 100;
    padding: 1em;
    color: white;
    font-family: 'Sanchez', serif;
    font-size: 1.5em;
    text-align: center;
    text-shadow: .5px .5px grey;
  }

/* All this does is add a 50% black background on top of the image */
.hero-image:after {
    position: absolute;
    height: 100%;
    width: 100%;
  background-color: rgba(100,100,100,.3);
    top: 0;
    left: 0;
    display: block;
    content: "";
}

.hero-paragraph {
  margin:  1em 1em 1em 1em;
  line-height: 2em;

}

.hero-paragraph h3 {
  font-size: 1.8em;

}

/* Index Hero */

.hero-image2 {
    height: 90vh;
    background-image: url("../images/daycare.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image2 p {
  font-family: 'Sanchez', serif;
}

.hero-image2 h1 {
  font-family: 'Droid Serif', serif;
  letter-spacing: 2px;
  color:white;
  padding-bottom:0em;
    margin-top: 0em;
      letter-spacing: 2px;

}

/* All this does is add a 50% black background on top of the image */
.hero-image2:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(100,100,100,.3);
    top: 0;
    left: 0;
    display: block;
    content: "";
}


.hero-image3 {
    height: 40vh;
    background-image: url("../images/shutterstock_1411069031.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image3 p {
  font-family: 'Sanchez', serif;
}

.hero-image3 h1 {
  font-family: 'Droid Serif', serif;
  letter-spacing: 2px;
  color:white;
  padding-bottom:0em;
    margin-top: 0em;
      letter-spacing: 2px;

}

/* All this does is add a 50% black background on top of the image */
.hero-image3:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(100,100,100,.3);
    top: 0;
    left: 0;
    display: block;
    content: "";
}

.button {
  padding-left: 43%;
  padding-right: 43%;
  padding-top:.7em;
  padding-bottom:.7em;
  background-color: rgb(35,95,97);
  color: white;
    border-radius: 3px;
  text-decoration: none;
    text-transform: uppercase;
  font-family: 'Sanchez', serif;
  transition: .3s background-color ease-in-out;
  letter-spacing: 2px;


}

.button2 {
    padding-left: 43%;
    padding-right: 43%;
    padding-top:.7em;
    padding-bottom:.7em;
    background-color: rgb(35,95,97);
    color: white;
    	border-radius: 3px;
    text-decoration: none;
    	text-transform: uppercase;
    font-family: 'Sanchez', serif;
    transition: .3s background-color ease-in-out;
    letter-spacing: 2px;
  }

  .button_buffer {
      margin:1.2em 0em 1.2em 0em;
         text-align: center;

  }






/* Add a hover/focus effect */
.button:hover, .button:focus {
    background-color: rgb(151,201,171);
}

.button2:hover, .button2:focus {
    background-color: rgb(151,201,171);
}


.news {
  background-color: rgb(240,240,240);
  padding:1em;

  line-height: 1.8em;
}



/* If you're using images in your slider, add this CSS to ensure they take up 100% of the available area */

.carousel-cell {
    width: 100%;
}

.carousel-cell img {
    width: 100%;
    height: auto;
}

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}

.test {
  padding:1em;
  background: linear-gradient(to right, rgb(208,134,135) 0%,rgb(208,134,160) 89%);
  color:white;
  font-size: 1.8em;
  text-align:center;
}

.girl {
width:100%;
  display:flex;
  flex-flow:row wrap;
}
.section2 {
  display:flex;
}

.block {
  display:inline-block;
}

/*
.team1 {
margin-top:2em;
width: 20%;
height: 20%;
background-image: url("../images/staff/img_1874.jpg");
}




.team2 {
  margin-top:2em;
  width: 20%;
  height: 20%;
  background-image: url("../images/staff/img_1874.jpg");
}

.team3 {
  margin-top:2em;
  width: 20%;
  height: 20%;
  background-image: url("../images/staff/img_1874.jpg");
}

.team4 {
  margin-top:2em;
  width: 20%;
  height: 20%;
  background-image: url("../images/staff/img_1874.jpg");
}
*/


.team1img {
margin-top:2em;
width: 50%;
height: 50%;
}

.team2img {
  margin-top:2em;
  width: 50%;
  height: 50%;
}

.team3img {
  margin-top:2em;
  width: 50%;
  height: 50%;
}

.team4img {
  margin-top:2em;
  width: 50%;
  height: 50%;
}



footer {
  background: linear-gradient(to right, rgb(151,201,171) 0%,rgb(35,95,97) 89%);
  color: white;
  padding: 1em 0em 1em 0em;
  margin-top:0em;
   text-align: center;
   line-height: 1.6em;
   width:100%;
}

footer a{
  color: rgb(151,201,171);

}

@media screen and (min-width: 500px) {
	nav a {
		font-size: 1.1em;
	}
}

nav a:hover, nav a:focus, .active a {
	color: rgb(151,201,171);

}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	display: flex;
	/*margin-bottom: .5em;
	width: 100%;
	flex-wrap: wrap;


}

nav ul li {
	text-align: center;
  font-size: .8em;
	width:75%; /* was 25%
	padding-top: .25em;
	margin-bottom: .5em;
  margin-top:.35em;
	line-height: 1;
  padding-left: 1em;
  padding-right:1em;

}

nav ul li:before {
	content: none;
}



nav ul li a.active {
	font-weight: bold;
}


nav ul li:last-child:after {
	content: "";
	width: 0;
	padding: 0;
}

@media screen and (min-width:600px) {

.logo {
  width:45px;
  display: inline;
  white-space: nowrap;
  font-family: 'Droid Serif', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  align: center;
}

nav a {
  font-size: 1.2em;
}
nav {
  margin-top: .35em;
  margin-bottom: 1.3em;
    padding-top: .1em;
    position:absolute;
    right:20px;
}

}

@media screen and (min-width:650px) {

	nav {
		padding: .5em;
		max-width: 550px;
	}
	nav ul {
		width: auto;
		justify-content: space-between;
	}
	nav ul li {
		width: inherit;
	}

}



@media screen and (min-width:880px) {
	nav {
		background-color: inherit;
		border-top: none;
		margin-top: 0em;
		margin-bottom: inherit;
		margin: inherit;
		padding-right: 0;
    font-size: 1.2em;
    padding-top: 1em;
	}

	nav ul {
		margin-right: 0;
	}

	nav ul li:after {
		padding-left: 1em;
		padding-right: 1em;

	}

	nav a {
		font-size: 1.15em;
	}

  .logo {
    width:65px;
    display: inline;
    white-space: nowrap;
    font-family: 'Droid Serif', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    align: center;
    margin: .25%;
  }

}

@media screen and (min-width: 1200px) {
	nav {
		margin-bottom: 0;
    text-align: left;
	}



	nav a {
		font-size: 1.2em;
	}

	nav ul {
		flex-wrap: nowrap;
	}



}
